<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>详情</title>
</head>

<body>
    <h4>
        <%= value.title %>
    </h4>
    <p>
        <%= value.name %> 发表于
            <%= value.moment %>
    </p>
    <div>
        <%= value.content %>
    </div>
</body>

</html>