<!DOCTYPE html>
<html>

<head>
    <title>登录</title>
    <link rel='stylesheet' href='/style/style.css' />
    <link rel='stylesheet' href='/style/mui.min.css' />
</head>

<body>
    <form class="mui-form form-white" action='/login' method='post'>
        <legend>登录</legend>
        <div class="mui-textfield">
            <input type="text" placeholder="请输入用户名" name='username'>
        </div>
        <div class="mui-textfield">
            <input type="password" placeholder="请输入密码" name="password">
        </div>
        <button type="submit" class="mui-btn mui-btn--primary">登录</button>
    </form>
</body>

</html>